HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
src/main/resources/map/raw_node.txt
src/main/resources/map/HN_edge.txt
src/main/resources/map/HN_vertex.txt
src/main/resources/map/HN_name.txt
src/main/resources/map/inverted_index.txt
src/main/resources/map/HN_vertex_with_name.txt